{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block meta %}
    <title>Beli</title>
    {% endblock meta %}

    
</head>

<body>

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <div class="container" style="margin-bottom: 100px;">
        <div class="center-container">  <!-- Container to center content -->
            <h1 class="text-secondary-h1">HALAMAN &nbsp BELI</h1>  <!-- The centered heading -->
        </div>    
    
        
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                
                <div class="card container-table" style="width:70%;">
                    <div class="left-container">
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;"> Informasi Paket yang Ingin Dibeli</h3>
                    </div>
                    <table id="example" class="table table-striped" style="width:100%; border-radius: 55px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama</th>
                                <th style="text-align: center;">Harga</th>
                                <th style="text-align: center;">Resolusi Layar</th>
                                <th style="text-align: center;">Dukungan Perangkat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>premium</td>
                                <td>80000</td>
                                <td>4000</td>
                                <td>smart tv</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            
        </div>
        <div class="pilih-pembayaran-container">
            <form >
                <h3 class="text-secondary" style="margin-left: 0px;"> Pilih Metode Pembayaran:</h3>
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" style="font-size: 1.25em;">
                        <option>transfer bank</option>
                        <option>kartu kredit</option>
                        <option>e-wallet</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit" style="width: 250px;font-size: 
                1.25em;margin-top: 30px; margin-left: 2em; font-weight: bolder;">
                    Bayar
                    <ion-icon name="cash-outline" style="vertical-align: text-bottom;"></ion-icon>
                </button>

            </form>

        </div>
    </div>    
    {% endblock %}
</body>