{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block meta %}
    <title>Langganan</title>
    {% endblock meta %}

    
</head>

<body>

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <div class="center-container">  <!-- Container to center content -->
        <h1 class="text-secondary-h1">HALAMAN &nbsp KELOLA &nbsp LANGGANAN </h1>  <!-- The centered heading (&nbsp is space) -->
    </div>    
   
    <div class="container" style="margin-bottom: 100px;">
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                
                <div class="card container-table">
                    <div class="left-container">
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;"> Paket Langganan Aktif Anda</h3>
                    </div>
                    <table id="example" class="table table-striped" style="width:100%; border-radius: 55px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama</th>
                                <th style="text-align: center;">Harga</th>
                                <th style="text-align: center;">Resolusi Layar</th>
                                <th style="text-align: center;">Dukungan Perangkat</th>
                                <th style="text-align: center;">Tanggal Dimulai</th>
                                <th style="text-align: center;">Tanggal Akhir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>standard</td>
                                <td>65000</td>
                                <td>1080</td>
                                <td>smart tv</td>
                                <td>2024-04-29</td>
                                <td>2024-05-30</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                <div class="card container-table">
                    <div class="left-container">  <!-- Container to center content -->
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;">Pilih Paket Lain</h3>  <!-- The centered heading -->
                    </div> 
                    <table id="exampleFilm" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama</th>
                                <th style="text-align: center;">Harga</th>
                                <th style="text-align: center;">Resolusi Layar</th>
                                <th style="text-align: center;">Dukungan Perangkat</th>
                                <th style="text-align: center;">Beli</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.nama }}</td>
                                <td>{{ d.harga }}</td>
                                <td>{{ d.resolusi_layar }}</td>
                                <td>{{ d.string_agg }}</td>
                                <td>
                                    <button class="btn btn-secondary col-10 mx-auto" type="submit">
                                        <ion-icon name="arrow-forward-outline"></ion-icon>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                <div class="card container-table">
                    
                    <div class="left-container">  <!-- Container to center content -->
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;">Riwayat Transaksi</h3>  <!-- The centered heading -->
                    </div> 
                    <table id="exampleSeries" class="table table-striped" style="width:100%; border-radius: 55px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama Paket</th>
                                <th style="text-align: center;">Tanggal Dimulai</th>
                                <th style="text-align: center;">Tanggal Akhir</th>
                                <th style="text-align: center;">Metode Pembayaran</th>
                                <th style="text-align: center;">Tanggal Pembayaran</th>
                                <th style="text-align: center;">Total Pembayaran</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>standard</td>
                                <td>2024-04-29</td>
                                <td>2024-05-30</td>
                                <td>Transfer Bank</td>
                                <td>2024-04-29</td>
                                <td>65000</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

