{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block meta %}
    <title>Langganan</title>
    <script defer src="{%static 'js/langganan.js' %}"></script>

    {% endblock meta %}

    
</head>

<body>

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <div class="center-container">  <!-- Container to center content -->
        <h1 class="text-secondary-h1">HALAMAN &nbsp KELOLA &nbsp LANGGANAN </h1>  <!-- The centered heading (&nbsp is space) -->
    </div>    
   
    <div class="container" style="margin-bottom: 100px;">
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                
                <div class="card container-table">
                    <div class="left-container">
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;"> Paket Langganan Aktif Anda</h3>
                    </div>
                    <table id="paketAktif" class="table table-striped" style="width:100%; border-radius: 55px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama</th>
                                <th style="text-align: center;">Harga</th>
                                <th style="text-align: center;">Resolusi Layar</th>
                                <th style="text-align: center;">Dukungan Perangkat</th>
                                <th style="text-align: center;">Tanggal Dimulai</th>
                                <th style="text-align: center;">Tanggal Akhir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in aktif %}
                            <tr>
                                <td>{{ a.nama }}</td>
                                <td>{{ a.harga }}</td>
                                <td>{{ a.resolusi_layar }}</td>
                                <td>{{ a.string_agg }}</td>
                                <td>{{ a.start_date_time }}</td>
                                <td>{{ a.end_date_time }}</td>
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                <div class="card container-table">
                    <div class="left-container">  <!-- Container to center content -->
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;">Pilih Paket Lain</h3>  <!-- The centered heading -->
                    </div> 
                    <table id="pilihanPaket" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama</th>
                                <th style="text-align: center;">Harga</th>
                                <th style="text-align: center;">Resolusi Layar</th>
                                <th style="text-align: center;">Dukungan Perangkat</th>
                                <th style="text-align: center;">Beli</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in pilihan %}
                            <tr>
                                <td>{{ p.nama }}</td>
                                <td>{{ p.harga }}</td>
                                <td>{{ p.resolusi_layar }}</td>
                                <td>{{ p.string_agg }}</td>
                                <td>
                                    <a href="{% url 'langganan:show_beli_'|add:p.nama %}" class="btn btn-secondary col-10 mx-auto" role="button">
                                        <ion-icon name="arrow-forward-outline"></ion-icon>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container my-5" w-10 pt-10 >
            <div class="center-container">
                <div class="card container-table">
                    
                    <div class="left-container">  <!-- Container to center content -->
                        <h3 class="text-secondary" style="margin-top: 30px; margin-left: 20px;">Riwayat Transaksi</h3>  <!-- The centered heading -->
                    </div> 
                    <table id="riwayatPaket" class="table table-striped" style="width:100%; border-radius: 55px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama Paket</th>
                                <th style="text-align: center;">Tanggal Dimulai</th>
                                <th style="text-align: center;">Tanggal Akhir</th>
                                <th style="text-align: center;">Metode Pembayaran</th>
                                <th style="text-align: center;">Tanggal Pembayaran</th>
                                <th style="text-align: center;">Total Pembayaran</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in riwayat %}
                            <tr>
                                <td>{{ r.nama_paket }}</td>
                                <td>{{ r.start_date_time }}</td>
                                <td>{{ r.end_date_time }}</td>
                                <td>{{ r.metode_pembayaran }}</td>
                                <td>{{ r.timestamp_pembayaran }}</td>
                                <td>{{ r.harga }}</td>
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

