{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tayangan</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <div class="container" style="margin-bottom: 100px;">
        <div class="center-container">
            <h1 class="text-secondary-h1">DAFTAR FAVORIT</h1>
        </div>
        <div class="container my-5">
            <div class="center-container">
                <div class="card container-table" style="padding-top: 50px;width:70%;">
                    <div class="left-container">
                        <h3 class="text-secondary" style="margin-left: 20px;">Daftar Favorit Anda</h3>
                    </div>
                    <table id="example" class="table table-striped" style="width:100%; border-radius: 55px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Waktu Ditambahkan</th>
                                <th style="text-align: center;"></th>
                                <th style="text-align: center;">Judul</th>
                                <th style="text-align: center;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for favorit in favorits %}
                            <tr>
                                <td>{{ favorit.0 }}</td>
                                <td>{{ favorit.1|date:"d/m/Y H:i" }}</td>
                                <td>{{ favorit.2 }}</td>
                                <td>
                                    <form action="{% url 'favorit:hapus_favorit' %}" method="post" style="margin: 0;">
                                        {% csrf_token %}
                                        <input type="hidden" name="judul" value="{{ favorit.2 }}">
                                        <button type="submit" class="btn btn-danger" style="height: 33px;">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Tidak ada data favorit.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
